
#container {
    margin: 20px;
}

.card {
    margin-top: 20px;
}

#navbar1 {
    text-align: center;
    display: block;
    color: white;
    padding: 10px;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.grey {
    background-color: grey;
}
.padding{
   padding: 5px;
   border-radius: 5px;;
}

.heading{
    margin-top: 5px;
    display: none;
}

#weather-section{
    margin-left:10px;

} 